<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <!-- <form action="#" method="get" class="sidebar-form">
             <div class="input-group">
                 <input type="text" name="q" class="form-control" placeholder="Search..."/>
                 <span class="input-group-btn">
                 <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
               </span>
             </div>
         </form>-->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Main Navigation</li>
            <!-- <li class="active treeview">
                 <a href="#">
                     <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                 </a>
                 <ul class="treeview-menu">
                     <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                     <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                 </ul>
             </li>-->
            <!-- <li class="treeview">
                 <a href="#">
                     <i class="fa fa-files-o"></i>
                     <span>Layout Options</span>
                     <span class="label label-primary pull-right">4</span>
                 </a>
                 <ul class="treeview-menu">
                     <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                     <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                     <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                     <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                 </ul>
             </li>-->


            <!--  <li>
                  <a href="pages/calendar.html">
                      <i class="fa fa-calendar"></i> <span>Calendar</span>
                      <small class="label pull-right bg-red">3</small>
                  </a>
              </li>
  -->


            <li class="{{#ifContains path 'users'}}active{{/ifContains}}">
                <a href="/">
                    <i class="fa fa-users"></i> <span>Users</span>
                </a>
            </li>
            <!-- <li class="{{#ifContains path 'services'}}active{{/ifContains}}">
                <a href="/services">
                    <i class="fa fa-users"></i> <span>Services</span>
                </a>
            </li>
            <li class="{{#ifContains path 'products'}}active{{/ifContains}}">
                <a href="/products">
                    <i class="fa fa-shopping-cart"></i> <span>Products</span>
                </a>
            </li>
            <li class="{{#ifContains path 'contact-person'}}active{{/ifContains}}">
                <a href="/contact-person">
                    <i class="fa fa-user"></i> <span>Contact_person</span>
                </a>
            </li>

            <li class="{{#ifContains path 'training'}}active{{/ifContains}}">
                <a href="/training">
                    <i class="fa fa-users"></i> <span>training</span>
                </a>
            </li>

            <li class="{{#ifContains path 'leads'}}active{{/ifContains}}">
                <a href="/leads">
                    <i class="fa fa-users"></i> <span>Leads</span>
                </a>
            </li>

            <li class="treeview {{#ifContains path '/newsletter'}} active{{/ifContains}}">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Newsletter</span>
                    <!-- <span class="label label-primary pull-right">4</span>-->
                </a>
                <ul class="treeview-menu">
                    <li class="{{#ifContains path 'newsletter'}}active{{/ifContains}}"><a href="/newsletter">
                        <i class="fa fa-star"></i>
                        Mail List</a>
                    </li>
                    <li class="{{#ifContains path 'newsletter/send'}}active{{/ifContains}}">
                        <a href="/newsletter/send">
                            <i class="fa fa-star"></i>
                            Send Newsletter</a>
                    </li>
                </ul>
            </li> -->

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>